# Required version of TensorFlow
tensorflow==2.16.1

# Use a more recent version of pillow
pillow==8.3.2

# Use a compatible version of numpy, without the --only-binary flag
numpy==1.26.0

# Ensure latest versions of pip, setuptools, and wheel are used
pip>=24.2
setuptools>=65.0.0
wheel>=0.40.0

# Include the Streamlit package
streamlit==1.24.0

# Additional dependencies
# Add other necessary packages for your application
